{% extends 'base.html' %}

{% block content %}

<main class="container py-5">

    <section class="card card-body">

        <h1 class="display-1 text-center">Organizador De Tareas</h1>
        <p>¡Bienvenido/a a nuestra página de organizadores de tareas! Sabemos que mantenerse organizado/a puede ser un gran desafío, por eso hemos creado una herramienta sencilla y efectiva para ayudarte a manejar tus tareas diarias. Con nuestro organizador, podrás editar, eliminar, marcar como importante y marcar como completadas tus tareas con facilidad. Ya sea que necesites administrar tus responsabilidades laborales o personales, nuestro organizador es la solución perfecta para mantener todo bajo control. ¡Únete a nuestra comunidad y descubre cómo podemos ayudarte a simplificar tu vida hoy mismo!</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signup">Registrarse</a>
            <a class="btn btn-dark" href="/signin">Iniciar Sesión</a>
        </div>
    </section>

</main>

{% endblock %}
